* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #eef2f7;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 240px;
  height: 100vh;
  background: #0a1e44;
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar a:hover {
  background: #030928;
}

.switch-user {
  margin-top: auto;
}

.switch-user button {
  width: 100%;
  margin-top: 10px;
}

.switch-user span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.main {
  margin-left: 240px;
  padding: 20px;
}

.topbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.form-box {
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #0d0a39;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.task {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}

.task button {
  margin-right: 5px;
}

.accept { background: #492421; color: white; }
.complete { background: #1f0402; color: white; }
.delete { background: #4f1611; color: white; }

@media (max-width: 768px) {

  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .switch-user {
    margin-top: 0;
  }

  .main {
    margin-left: 0;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

.user-greeting {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #cbd5ff;
}

.sidebar h2 {
  margin-bottom: 20px;
  text-align: center;
}

.create-btn {
  margin-top: 20px;
  padding: 12px;
  background: #0a1e44;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

h2 {
  margin-top: 20px;
}